name: 壓縮 zip、計算 SHA-1 並發佈到 Tag
on:
  push:
    branches:
    - Dark-Mode
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 簽出儲存庫
      uses: actions/checkout@v2
    
    - name: 設置版本變量
      id: set_var
      run: |
        BRANCH_NAME="${GITHUB_REF#refs/heads/}"
        echo "Branch name is: $BRANCH_NAME"
        
        if [[ "$BRANCH_NAME" == "main" ]]; then
          echo "ZIP_NAME=bsje-d.zip" >> $GITHUB_OUTPUT
          echo "ASSET_NAME=bsje-d.zip" >> $GITHUB_OUTPUT
        else
          echo "ZIP_NAME=bsje-unknown.zip" >> $GITHUB_OUTPUT
          echo "ASSET_NAME=bsje-unknown.zip" >> $GITHUB_OUTPUT
        fi
        
        echo "Set ZIP_NAME to: ${{ steps.set_var.outputs.ZIP_NAME }}"
        echo "Set ASSET_NAME to: ${{ steps.set_var.outputs.ASSET_NAME }}"
    
    - name: 壓縮成 zip
      run: |
        echo "Creating zip file: ${{ steps.set_var.outputs.ZIP_NAME }}"
        zip -r "${{ steps.set_var.outputs.ZIP_NAME }}" assets/* 1.21.4/* LICENSE-brillliantwserevr.txt LICENSE.txt pack.mcmeta pack.png
        ls -la "${{ steps.set_var.outputs.ZIP_NAME }}"
    
    - name: 計算 SHA1
      id: calculate_sha1
      run: |
        echo "Calculating SHA1 for: ${{ steps.set_var.outputs.ZIP_NAME }}"
        echo "RESOURCE_SHA1=$(sha1sum ${{ steps.set_var.outputs.ZIP_NAME }} | awk '{print $1}')" >> $GITHUB_OUTPUT
    
    - name: 創建發佈
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: D-${{ github.run_number }}
        release_name: Version. D-${{ github.run_number }} | ${{ github.event.head_commit.message }}
        draft: false
        prerelease: false
        body: |
          SHA1：${{ steps.calculate_sha1.outputs.RESOURCE_SHA1 }}

          此為輝煌伺服器材質包的暗色模式擴充版，不可獨立使用。

          Copyright © 輝煌伺服器 Brilliant Minecraft Server 版權所有 All rights reserved
    
    - name: 上傳 zip
      id: upload_zip
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./${{ steps.set_var.outputs.ZIP_NAME }}
        asset_name: ${{ steps.set_var.outputs.ASSET_NAME }}
        asset_content_type: application/zip

##加密##
#name: 計算 SHA-1 並發佈到 Tag
#on:
#  push:
#    branches:
#    - main
#permissions:
#  contents: write
#jobs:
#  build:
#    runs-on: ubuntu-latest
#    steps:
#    - name: 簽出儲存庫
#      uses: actions/checkout@v2
#    
#    - name: 設置版本變量
#      id: set_var
#      run: |
#        BRANCH_NAME="${GITHUB_REF#refs/heads/}"
#        echo "Branch name is: $BRANCH_NAME"
#        
#        if [[ "$BRANCH_NAME" == "main" ]]; then
#          echo "VERSION=1.20.2" >> $GITHUB_OUTPUT
#        else
#          echo "VERSION=unknown" >> $GITHUB_OUTPUT
#        fi
#        
#        echo "Set VERSION to: ${{ steps.set_var.outputs.VERSION }}"
#    
#    - name: 執行 PackSquash
#      uses: ComunidadAylas/PackSquash-action@v4
#      with:
#        options: file.toml
#        packsquash_version: 'v0.4.0'
#        show_emoji_in_packsquash_logs: true
#        enable_color_in_packsquash_logs: true
#    
#    - name: 計算 SHA1
#      id: calculate_sha1
#      run: |
#        echo "Calculating SHA1 for: bsje-n.zip"
#        echo "RESOURCE_SHA1=$(sha1sum bsje-n.zip | awk '{print $1}')" >> $GITHUB_OUTPUT
#    
#    - name: 創建發佈
#      id: create_release
#      uses: actions/create-release@v1
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      with:
#        tag_name: ${{ github.run_number }}-v${{ steps.set_var.outputs.VERSION }}
#        release_name: Version. ${{ github.run_number }} | ${{ steps.set_var.outputs.VERSION }} | ${{ github.event.head_commit.message }}
#        draft: false
#        prerelease: false
#        body: |
#          SHA1：${{ steps.calculate_sha1.outputs.RESOURCE_SHA1 }}
#
#          玩家可於 Assets 條目中，點選 bsje-${{ steps.set_var.outputs.VERSION }}.zip 來下載此版本的材質包
#          建議玩家下載 Version 標題旁有綠色 Latest 字樣版本的材質包來登入輝煌伺服器，
#          以取得最完善的遊戲體驗。
#
#          Copyright © 輝煌伺服器 Brilliant Minecraft Server 版權所有 All rights reserved
#    
#    - name: 上傳 zip
#      id: upload_zip
#      uses: actions/upload-release-asset@v1
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      with:
#        upload_url: ${{ steps.create_release.outputs.upload_url }}
#        asset_path: ./bsje-n.zip
#        asset_name: bsje-${{ steps.set_var.outputs.VERSION }}.zip
#        asset_content_type: application/zip